/* .card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    transition: transform 0.5s;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    backface-visibility: hidden;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: #007BFF;
    color: #fff;
  }
   */



   .card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    transition: transform 0.25s;
  }
  
  .card.flipped {
    transform: rotateY(360deg);
  }
  
  .front {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    backface-visibility: hidden;
    background-color: #993300; /* Set the background color for the front here */
    color: #000000; /* Set the text color for the front here */
  }
  
  .back {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    backface-visibility: hidden;
    background-color: #660033; /* Set the background color for the back here */
    color:black; /* Set the text color for the back here */
  }
  